@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgba(241, 241, 243, 1);
    padding: 31px 160px 31px 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;

}
.nav-button{
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.nav-button:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;
}

.benner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64;
padding: 80px 100px 80px 100px;
border-radius: 24px;

background: rgb(198, 228, 214);


}
.benner-content{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

}
.benner-title{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
gap: 16px;
padding: 0px;
}
.benner-description{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

}
.button-primary{
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}
.button-primary:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;
}
.benner-pic{
    width: 474.03px;
    

}
.section-title{
    margin: 24px 0px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.section-description{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.visions-container{
    display: flex;
    gap: 24px;
    padding: 32px 0px;

}
.vision-1{
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgba(84, 144, 245, 0.2);
}
.vision-2{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
}

.vision-3{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
}
.vision-title{
      color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;


}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.vision-button-1{
    padding: 11px 20px 11px 20px;
    margin: 24px 0px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
 border-radius: 8px;
 border: none;
background: rgb(84, 144, 245);

}
.vision-button-1:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;

}
.vision-button-2{
    padding: 11px 20px 11px 20px;
    margin: 24px 0px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
 border-radius: 8px;
 border: none;
background:rgb(9, 161, 92);

}
.vision-button-2:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;

}
.vision-button-3{
    padding: 11px 20px 11px 20px;
    margin: 24px 0px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
 border-radius: 8px;
 border: none;
background:rgb(255, 194, 57);

}
.vision-button-3:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;

}
.section{
   
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
background-image: url(../B11A1--assignment-1/assets/quote-bg.png);
background-repeat: no-repeat;
background-position: 24px 40px;
}

.introduction{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.header-title{
    margin: 4px 0px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.pera{
    margin: 4px 0px;
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.news-card{
    display: flex;
    padding: 48px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);;
}
.news-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

}
.news-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding: 0px 0px 32px;

}
.img{
    border-radius: 24px;
    margin: 0px 32px;  
}
.news-card-title{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.card{
    margin: 12px 0px;
}
.news-button{
    padding: 13px 26px 13px 26px;
    gap: 48px;
    border-radius: 8px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
}
.news-button:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;

}
.section-donate{
    margin: 80px 0px;
}
.donate{
    margin: 24px 0px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

}
.donate-description{
    justify-content: center;
    margin: 0px 24px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

.donate-amount1{
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.donate-amount1:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;

}
.donate-amount2{
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    
    background: rgb(198, 228, 214);
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

}
.donate-amount2:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;
}
.donate-amount{
    display: flex;
    gap: 24;
    margin: 32px 0px;
}
.btn-primary{
    padding: 20px 40px 20px 40px;
    margin: 32px 0px;
    width: 1200px;
    height: 64px;
    gap: 24;
    margin: 60px 0px;
    text-align: center;
    box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
margin: 12px 0px;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
border: none;
   
}
.btn-primary:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;
}
.text-center{
    display: flex;
    justify-content: center;

}
.donate-button{
    padding: 17px 34px 17px 34px;
    gap: 48px;
    border-radius: 8px;
    margin: 32px 0px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
}
.donate-button:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;

}
.footer-head{
    margin: 16px 0px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.footer-description{
    
    margin: 16px 0px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
footer form button{
    padding: 18px 40px 18px 40px;
    margin: 0px 0px;  
     
}
.footer-form{
    width: 600px;
height: 55px;
gap: 24;
border-radius: 8px 0px 0px 8px;
border: none;

background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.footer-btn{
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.footer-btn:hover{
    background-color: chartreuse;
    box-shadow: 5px 5px 10px;
}
.footer-main-form{
    margin: 0px 100px;
    
}
.last-para{
    margin: 24px 0px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}
.footer{
    padding: 80px 100px 80px 100px;
    margin: 80px 0px;
    border-radius: 24px;

background: rgb(198, 228, 214);
}